.App {
  text-align: center;
}
.InputList label {
  color: blue;
}
.InputList input {
  padding: 5px;
  width: 15%;
  margin-bottom: 20px;
}
.InputList button {
  padding: 5px;
}
.InputList table {
  border-collapse: collapse;
  margin: 0 auto;
}
.InputList table tr td,th {
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
.InputList table tr td input {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  outline: none;
  border: none;
  font-size: 20px;
}
.header {
   color: darksalmon;
   font-size: 40px;
   background-color:bisque;
}
th {
  background-color: grey;
  color: white;
}
.completed {
  background-color: yellowgreen;
color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
